@model IEnumerable<WebApplication1.Models.Duckbill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var duckbill in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => duckbill.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@duckbill">Edit</a> |
                <a asp-action="Details" asp-route-id="@duckbill.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@duckbill.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
